<style> .category-rows:nth-child(even){ background-color: #f1f1f1; } </style>
<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <h3 class="col-xs-12 text-center">
      <%= link_to root_path(month: @prior_month) do %>
        <span class="glyphicon glyphicon-chevron-left pull-left"></span>
      <% end %>
      <%= @month %>
      <%= link_to root_path(month: @next_month) do %>
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
      <% end %>
    </h3>
  </div>

  <div class="row">
    <h4 class="col-xs-4">Income</h4>
    <h6 class="col-xs-2 text-nowrap"><small>YTD</small></h6>
    <h6 class="col-xs-3 text-nowrap"><small>Curr Mnth</small></h6>
    <h6 class="col-xs-2"></h6>
  </div>
  <% @incomes.each_pair do |heading, categories| %>
    <div class="row">
      <h4 class="col-xs-12 text-nowrap"><%= heading %></h4>
    </div>
    <% categories.each do |category| %>
      <div class="row category-rows">
        <% if category.infrequent %>
          <h6 class="col-xs-4 text-nowrap"><%= link_to category.name[0,13], category_path(category) %><sup>*</sup></h6>
          <h6 class="col-xs-2 text-nowrap">
            <small> $<%=category.spent_to_eom(@month)%><small> /$<%=category.budget * 12%></small> </small>
          </h6>
          <h6 class="col-xs-3 text-nowrap">
            $<%=category.spent(@month)%><small>/<%=category.budget%></small>
          </h6>
          <div class="col-xs-1">
            <%= link_to new_transaction_path(category: category.id), class: "btn btn-success" do %>
              <i class="glyphicon glyphicon-plus"></i>
            <% end %>
          </div>

        <% else %>

          <h6 class="col-xs-4 text-nowrap"><%= link_to category.name[0,13], category_path(category) %></h6>
          <h6 class="col-xs-2 text-nowrap">
            <small>$<%=category.spent_to_eom(@month)%><small>/<%=category.budget_to_eom(@month)%></small></small>
          </h6>
          <h6 class="col-xs-3 text-nowrap">
            $<%=category.spent(@month)%><small>/<%=category.budget%></small>
          </h6>
          <div class="col-xs-1">
            <%= link_to new_transaction_path(category: category.id), class: "btn btn-success" do %>
              <i class="glyphicon glyphicon-plus"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <hr class="col-xs-12"></hr>
  </div>


  <div class="row">
    <h4 class="col-xs-4">Expenses</h4>
    <h6 class="col-xs-2 text-nowrap"><small>YTD +/-</small></h6>
    <h6 class="col-xs-1"></h6>
    <h6 class="col-xs-2 text-nowrap"><small>Remaining</small></h6>
    <h6 class="col-xs-2"></h6>
  </div>
  <% @expenses.each_pair do |heading, categories| %>
    <div class="row">
      <h4 class="col-xs-12 text-nowrap"><%= heading %></h4>
    </div>
    <% categories.each do |category| %>
      <div class="row category-rows">


        <% if category.infrequent %>
          <h6 class="col-xs-4 text-nowrap"><%= link_to category.name[0,13], category_path(category) %><sup>*</sup></h6>
          <h6 class="col-xs-2 text-nowrap">
            <small class="text-<%= category.status(@month) %>">
              $<%=category.remaining_for_year(@month)%><small> (<%=category.yearly_percent_remaining(@month)%>% rem)</small>
            </small>
          </h6>
          <h6 class="col-xs-1">
            <% if category.status(@month) == :warning %>
              <span class="text-warning glyphicon glyphicon-warning-sign" data-toggle="tooltip" title="<%=category.status_reason(@month)%>"></span>
            <% elsif category.status(@month) == :danger %>
              <span class="text-danger glyphicon glyphicon-alert" data-toggle="tooltip" title="<%=category.status_reason(@month)%>"></span>
            <% end %>
          </h6>
          <h6 class="col-xs-2 text-nowrap">
            $<%=category.budget_to_eom(@month) - category.spent_to_eom(@month)%><small> saved</small>
          </h6>


        <% else %>
          <h6 class="col-xs-4 text-nowrap"><%= link_to category.name[0,13], category_path(category) %></h6>
          <h6 class="col-xs-2 text-nowrap">
            <small class="text-<%= category.status(@month) %>">$<%=category.budget_to_som(@month) - category.ytd_spent(@month) %></small>
          </h6>
          <h6 class="col-xs-1">
            <% if category.status(@month) == :warning %>
              <span class="text-warning glyphicon glyphicon-warning-sign" data-toggle="tooltip" title="<%=category.status_reason(@month)%>"></span>
            <% elsif category.status(@month) == :danger %>
              <span class="text-danger glyphicon glyphicon-alert" data-toggle="tooltip" title="<%=category.status_reason(@month)%>"></span>
            <% end %>
          </h6>
          <h6 class="col-xs-2 text-nowrap">
            $<%=category.remaining(@month)%><small>/<%=category.budget%></small>
          </h6>
        <% end %>
        <div class="col-xs-1">
          <%= link_to new_transaction_path(category: category.id), class: "btn btn-success" do %>
            <i class="glyphicon glyphicon-plus"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
