<style> .category-rows:nth-child(even){ background-color: #f1f1f1; } </style>

<div class="container-fluid">
  <h2><%= @month %></h2>

  <h4>Expenses</h4>
  <div class="row">
    <h6 class="col-xs-4"><small>Category</small></h6>
    <h6 class="col-xs-2 text-nowrap"><small>YTD +/-</small></h6>
    <h6 class="col-xs-1"></h6>
    <h6 class="col-xs-2 text-nowrap"><small>Remaining</small></h6>
    <h6 class="col-xs-2"></h6>
  </div>
  <% @categories.each_pair do |heading, categories| %>
    <div class="row">
      <h4 class="col-xs-12 text-nowrap"><%= heading %></h4>
    </div>
    <% categories.each do |category| %>
      <div class="row category-rows">


        <% if category.infrequent %>
          <h6 class="col-xs-4 text-nowrap"><%=category.name[0,13] %><sup>*</sup></h6>
          <h6 class="col-xs-2 text-nowrap">
            <small class="text-<%= category.status(@month) %>">
              $<%=category.remaining_for_year(@month)%><small> (<%=category.yearly_percent_remaining(@month)%>% rem)</small>
            </small>
          </h6>
          <h6 class="col-xs-1">
            <% if category.status(@month) == :warning %>
              <span class="text-warning glyphicon glyphicon-warning-sign"></span>
            <% elsif category.status(@month) == :danger %>
              <span class="text-danger glyphicon glyphicon-alert"></span>
            <% end %>
          </h6>
          <h6 class="col-xs-2 text-nowrap">
            $<%=category.budget_to_eom(@month) - category.spent_to_eom(@month)%><small> saved</small>
          </h6>


        <% else %>
          <h6 class="col-xs-4 text-nowrap"><%=category.name[0,13] %></h6>
          <h6 class="col-xs-2 text-nowrap">
            <small class="text-<%= category.status(@month) %>">$<%=category.budget_to_som(@month) - category.ytd_spent(@month) %></small>
          </h6>
          <h6 class="col-xs-1">
            <% if category.status(@month) == :warning %>
              <span class="text-warning glyphicon glyphicon-warning-sign"></span>
            <% elsif category.status(@month) == :danger %>
              <span class="text-danger glyphicon glyphicon-alert"></span>
            <% end %>
          </h6>
          <h6 class="col-xs-2 text-nowrap">
            $<%=category.remaining(@month)%><small>/<%=category.budget%></small>
          </h6>
        <% end %>
        <div class="col-xs-1">
          <%= link_to new_transaction_path(category: category.id), class: "btn btn-success" do %>
            <i class="glyphicon glyphicon-plus"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

