<p id="notice"><%= notice %></p>

<h1>Income</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Who</th>
      <th>Avg Monthly</th>
      <th>Infrequent</th>
      <th>Sort</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.where(expense: false).order(:heading, :name).each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.heading %></td>
        <td><%= number_to_currency(category.budget, precision: 0) %><%= " (#{number_to_currency((category.budget * 12),precision: 0) }/yr)" if category.infrequent %></td>
        <td><%= category.infrequent %></td>
        <td><%= category.sort %></td>
        <td><%= link_to 'Edit', edit_category_path(category), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', category, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td><b>Total Income</b></td>
      <td></td>
      <td><b><%= number_to_currency(@categories.where(expense:false).sum(:budget),precision: 0) %></b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<h1>Expenses</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Heading</th>
      <th>Budget</th>
      <th>Infrequent</th>
      <th>Sort</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.where(expense: true).order(:heading, :name).each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.heading %></td>
        <td><%= number_to_currency(category.budget, precision: 0) %><%= " (#{number_to_currency((category.budget * 12),precision: 0) }/yr)" if category.infrequent %></td>
        <td><%= category.infrequent %></td>
        <td><%= category.sort %></td>
        <td><%= link_to 'Edit', edit_category_path(category), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', category, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td><b>Total Expenses</b></td>
      <td></td>
      <td><b><%= number_to_currency(@categories.where(expense:true).sum(:budget),precision: 0) %></b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<hr></hr>

<h1>Average Income - Expenses: <%= number_to_currency(@categories.where(expense: false).sum(:budget) - @categories.where(expense: true).sum(:budget)) %></h1>

<br>

<%= link_to 'New Category', new_category_path, class: "btn btn-success" %>
