<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Heading:</strong>
  <%= @category.heading %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @category.budget %>
</p>

<p>
  <strong>Infrequent:</strong>
  <%= @category.infrequent %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @category.expense %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
