<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Heading:</strong>
  <%= @category.heading %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @category.budget %>
</p>

<p>
  <strong>Infrequent:</strong>
  <%= @category.infrequent %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @category.expense %>
</p>

<h1>Recent Transactions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Month</th>
      <th>Who</th>
      <th>Category</th>
      <th>Merchant</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% Transaction.where(category: @category).reorder(date: :desc).each do |transaction| %>
      <tr>
        <td><%= transaction.date.strftime("%B") %></td>
        <td><%= transaction.user.try(:display_name) %></td>
        <td><%= transaction.category.name %></td>
        <td><%= transaction.merchant %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.date %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction), class: "btn btn-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
