<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-2">
      <%= link_to transactions_path, class: "btn btn-danger btn-block btn-lg"  do %>
        <i class="glyphicon glyphicon-remove"></i>
      <% end %>
    </div>
    <div class="col-xs-8">
      <div class="form-group">
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, { class: "form-control" }) %>
      </div>
    </div>
    <div class="col-xs-2">
      <%= button_tag "", type: 'submit', class: "btn btn-success glyphicon glyphicon-ok btn-block btn-lg" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-12">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <%= f.text_field :amount, class: "form-control input-lg", placeholder: "Amount" %>
        <div class="input-group-addon">.00</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group form-inline col-xs-12">
      <%= f.date_select :date, {}, { class: "form-control" } %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-12">
      <%= f.text_field :merchant, class: "form-control input-lg", placeholder: "Where?" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-12">
      <%= f.text_field :note, class: "form-control input-lg", placeholder: "Note" %>
    </div>
  </div>

<% end %>
