<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @transaction.category %>
    <%= f.hidden_field :category_id, :value => @transaction.category.id %>
  <% else %>
    <div class="row form-group">
      <div class="col-xs-12">
        <%= f.collection_select(:category_id, Category.all, :id, :name, {:prompt => 'Choose a Category...'}, { class: "form-control", required: true }) %>
      </div>
    </div>
  <% end %>

  <div class="row form-group">
    <div class="form-group form-inline col-xs-12">
      <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
        <%= f.date_field :date, class: "form-control", required: true %>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="form-group col-xs-12">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <%= f.number_field :amount, class: "form-control", placeholder: "Amount", step: "0.01", required: true %>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="form-group col-xs-12">
      <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-question-sign"></i></div>
        <%= f.text_field :merchant, class: "form-control", placeholder: "Where? What?", required: true %>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="form-group col-xs-12">
      <%= f.text_field :note, class: "form-control", placeholder: "Note" %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-xs-5">
      <%= link_to root_path, class: "btn btn-danger btn-block"  do %>
        <i class="glyphicon glyphicon-remove"></i>
      <% end %>
    </div>
    <div class="col-xs-2">
    </div>
    <div class="col-xs-5">
      <%= button_tag "", type: 'submit', class: "btn btn-success glyphicon glyphicon-ok btn-block" %>
    </div>
  </div>
<% end %>
